header {
	background-image: url("../img/header.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
	background-size: cover;
}
	.page-title {
		padding: 50px 0;
		
	}
		.page-title h1 {
			color: #f1f1f1;
			font-weight: bold;
			font-size: 46px;
			opacity: 0.8;
		}
		.page-title h1 small {
			color: #f1f1f1;
			opacity: 0.8;
		}
nav {
	font-weight: bold;
}
#content {
	margin-bottom: 50px;
}
footer {
	text-align: right;
    background: #f1f1f1;
    padding: 5px 20px 5px 0;
}
#query {
	height: 200px;
}


/** Typography **/
h3,
h4 {
	padding-top: 10px;
}